<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Información empresa</mat-card-title>
      <div *ngFor="let empresa of empresalist; let index = index" class=empresa>
        <br>
        <div>Nombre: {{empresa.nombre}}</div>
        <div>Color: {{empresa.color}}</div>
        <div>Rubro: {{empresa.rubro}}</div>
        <br>
        <button color="accent" 
                mat-raised-button 
                (click)="deleteEmpresa(empresa)"
                >Eliminar</button>
        <br>
      </div>
      <div>
      </div>
      <mat-card class="cardWithShadow">
        <br>
        <button mat-raised-button color="primary" type="button" (click)="addEmpresa()">Agregar empresa</button>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>