<div class="col-lg-12 col-sm-6">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>¡Bienvenido/a a Neo-em[AI]ling 3!</mat-card-title>
      <div><br></div>
      <div >Le damos la más cordial bienvenida a la administración de nuestra aplicación de mensajería hecha por IA.
        <br> En esta página usted podrá administrar las empresas inscritas al servicio, así como también las solicitudes 
        <br>que estas le hagan a la IA, también se podrá administrar todas las personas a las que les llegarían los 
        <br>correos, pudiendo editar, crear o eliminar toda la información que se estime necesaria.
      </div>
      <div><br></div>
      <div>
        Autores: Diego Carvajal, Vicente Marín y Moisés Vásquez
      </div>
      <div><br></div>
      <img src = '/assets/images/pexels-shvetsa-3727479.jpg' width="750" height="500"/>
    </mat-card-content>
  </mat-card>
</div>